* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background: #000;
}

.container {
  width: 200px;
  margin: 100px auto;
}
.price-input {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  font-size: 14px;
}
.price-input .field {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.price-input .field input {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  -moz-appearance: textfield;
  padding-left: 3rem;
}
.price-input .field::before {
  position: absolute;
  left: 1rem;
  top: 0;
  display: block;
  color: #ccc;
  line-height: 45px;
}
.price-input .field:first-child::before {
  content: "от";
}
.price-input .field:last-child::before {
  content: "до";
}
.price-input .field input[type=number]::-webkit-outer-spin-button,
.price-input .field input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
}
.slider {
  width: 200px;
  height: 1.2rem;
  margin-top: 50px;
  background: #FFECBB;
  border-radius: 30px;
  position: relative;
}
.slider .progress {
  height: 1.2rem;
  border-radius: 0.5rem;
  background: #FDC840;
  position: absolute;
  left: 25%;
  right: 25%;
}
.range-input {
  position: relative;
}
.range-input .range-input__group input {
  position: absolute;
  top: -1rem;
  height: 0.5rem;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}
.range-input .range-input__group input[type=range]::-webkit-slider-thumb {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  pointer-events: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
  background: #fff;
  -webkit-appearance: none;
}
.range-input .range-input__group input[type=range]::-moz-range-thumb {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  pointer-events: auto;
  background: green;
  -moz-appearance: none;
  border: none;
}
.range-min,
.range-max {
  position: relative;
}
.range-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  color: #ccc;
}
.range-price__min,
.range-price__max {
  position: absolute;
  top: -5rem;
  left: 10%;
  padding: 4px 11px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  background: #6A6A6A;
  z-index: 1;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.70);
}
.range-price__max {
  top: -5rem;
  left: auto;
  right: 10%;
}
